<html>
<body>
    <h3>ทำนายช่องทางการชำระเงิน ด้วย Decision Tree Model</h3>

<div>
  <form action="/result" method="POST">
    <label for="v1">กำหนดวันจ่าย</label>
    <input type="text" id="v1" name="v1">
    <br>
    <label for="v2">จำนวนเงินรวม</label>
    <input type="text" id="v2" name="v2">
       <br>
    <label for="v3">รหัสการไฟฟ้า</label>
    <input type="text" id="v3" name="v3">
    <br>
        <label for="v4">วันศุกร์</label>
    <input type="text" id="v4" name="v4">
    <br>
        <label for="v5">วันจันทร์</label>
    <input type="text" id="v5" name="v5">
    <br>
        <label for="v6">วันเสาร์</label>
    <input type="text" id="v6" name="v6">
    <br>
        <label for="v7">วันอาทิตย์</label>
    <input type="text" id="v7" name="v7">
    <br>
        <label for="v8">วันพฤหัสบดี</label>
    <input type="text" id="v8" name="v8">
    <br>
        <label for="v9">วันอังคาร</label>
    <input type="text" id="v9" name="v9">
    <br>
        <label for="v10">วันพุธ</label>
    <input type="text" id="v10" name="v10">
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>
